header{
    background: maroon;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
    padding: 2px;
    display: flex;
}
a{
    text-decoration: none;
    color: #fff;
    margin: auto;
}
.active{
    justify-items: center;
    color: #fff;
    font-display: center;
    text-align: center;
}
